<!--
  Copyright 2021 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
-->
{{#if onlyCallback}}
  <div class="panel panel-default" id="{{id}}">
        <div class="panel-body text-center">
            <i id="{{id}}_spinner" class="fa fa-lg fa-circle-o-notch fa-spin text-primary"></i>
            <h4>
                {{ message }}
            </h4>
        </div>
  </div>
{{else}}
  {{#if message}}
    <div class="panel panel-default" id="{{id}}">
          <div class="panel-body text-center">
              <i id="{{id}}_spinner" class="fa fa-lg fa-circle-o-notch fa-spin text-primary"></i>
              <i id="{{id}}_check" class="fa fa-lg fa-check text-primary display-none"></i>
              <h4>
                  {{ message }}
              </h4>
          </div>
    </div>
  {{/if}}
  <input type="hidden" id="{{id}}_input" aria-hidden="true" name="callback_{{index}}" value="{{value}}" />
{{/if}}
