{{!
  Copyright 2016-2020 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<div class="container">
    <div class="page-header">
      {{#if reqs.header}}
        <h1 class="text-center">{{reqs.header}}</h1>
      {{/if}}
      {{#if reqs.description}}
        <p class="page-description text-center">{{reqs.description}}</p>
      {{/if}}
    </div>

    <form action="" method="post" class="form login col-sm-6 col-sm-offset-3 text-center" data-stage="{{reqs.stage}}">
        <fieldset class="row">
            <div class="form-group">
                <span>{{t "templates.authn.AuthenticatorPushRegistration3.getTheAppFromThe"}} <a target="_blank" href="{{reqs.callbacks.0.output.0.value}}">{{t "templates.authn.AuthenticatorPushRegistration3.appStore"}}</a> {{t "templates.authn.AuthenticatorPushRegistration3.orOn"}} <a target="_blank" href="{{reqs.callbacks.1.output.0.value}}">{{t "templates.authn.AuthenticatorPushRegistration3.googlePlay"}}</a></span>
            </div>
            <div class="form-group">
                {{#each reqs.callbacks}}
                    {{#equals type "ConfirmationCallback"}}
                        {{callbackRender}}
                    {{/equals}}
                {{/each}}
            </div>
        </fieldset>
    </form>
</div>
